Parte_B/Parte_B/Projeto/client2
Parte_B/Parte_B/Projeto/client
Parte_B/Parte_B/Projeto/common.o
Parte_B/Parte_B/Projeto/display
Parte_B/Parte_B/Projeto/score_update.proto
Parte_B/Parte_B/Projeto/server
Parte_B/Parte_B/Projeto/__pycache__/score_update_pb2.cpython-311.pyc
